.gfd {
  position: absolute;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // background-color: white;
  z-index: 1300;
  animation: gfd_anm 6s linear infinite;
}

.animCard {
  width: 140px;
  box-shadow: -4px 4px 7px black;
  border-radius: 10px;
  border: none;
  padding: 0px;
}

.ac1 {
  position: absolute;
  top: 0;
  left: 0;
  animation: ac1_anm 6s linear infinite;
}

.ac2 {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: ac2_anm 6s linear infinite;
}

.ac3 {
  position: absolute;
  top: 30vh;
  left: 45vw;
  // transform: scale(0);
  animation: ac3_anm 6s linear infinite;
}

@keyframes gfd_anm {
  6% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-130deg) scale(1);
  }
  14% {
    opacity: 1;
  }
  23% {
    transform: rotate(-550deg) scale(0.1);
    opacity: 0;
  }
  24% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  100% {
    opacity: 1;

    transform: rotate(0deg) scale(1);
  }
}
@keyframes ac1_anm {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  6% {
    transform: translateX(45vw) translateY(60vh) rotate(720deg);
  }
  8% {
    transform: translateX(45vw) translateY(60vh) rotate(912deg);
  }
  11% {
    transform: translateX(45vw) translateY(63vh) rotate(1200deg);
  }
  18% {
    opacity: 1;
  }
  23% {
    transform: translateX(45vw) translateY(25vh) rotate(2600deg);
    opacity: 0;
  }
  100% {
    transform: translateX(45vw) translateY(25vh) rotate(0);
    opacity: 0;
  }
}
@keyframes ac2_anm {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  6% {
    transform: translateX(-45vw) translateY(-60vh) rotate(720deg);
  }
  8% {
    transform: translateX(-45vw) translateY(-60vh) rotate(912deg);
  }
  11% {
    transform: translateX(-45vw) translateY(-63vh) rotate(1200deg);
  }
  18% {
    opacity: 1;
  }
  23% {
    transform: translateX(-45vw) translateY(-25vh) rotate(2600deg);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(-45vw) translateY(-25vh) rotate(0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes ac3_anm {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  30% {
    transform: scale(2);
  }
  32% {
    transform: scale(2.1);
  }
  33% {
    transform: scale(2.1);
  }
  35% {
    transform: scale(2);
  }
  44% {
    transform: perspective(300px) scale(2) rotateY(0);
  }
  48% {
    transform: perspective(300px) scale(2) rotateY(90deg);
  }
  50% {
    transform: perspective(300px) scale(2) rotateY(180deg);
  }
  100% {
    transform: perspective(300px) scale(2) rotateY(180deg);
  }
}
