@import "resets";
@import "cards";
@import "settingsContainer";
@import "tutorial";
@import "settingDivAnimation";
@import "bummerlAnimation";
@import "playerWonAnimation";

.startScreen {
  cursor: pointer;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    animation: startAnimation 2s ease-in-out infinite;
    z-index: 10;
  }
  p {
    z-index: 20;
    position: absolute;
    bottom: 100px;
    font-size: 5rem;
    color: white;
    font-family: "Bruno Ace SC", sans-serif;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px 50px;
    border-radius: 60px;
    overflow: hidden;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
    }
    &::after {
      content: "";
      position: absolute;
      left: -130px;
      bottom: -130px;
      width: 1000px;
      height: 1000px;
      border-radius: 50%;
      background: rgb(255, 156, 0);
      background: linear-gradient(
        264deg,
        rgba(255, 156, 0, 0.2399553571428571) 0%,
        rgba(251, 95, 95, 0.29037552521008403) 28%,
        rgba(247, 255, 178, 0.28197216386554624) 53%,
        rgba(77, 255, 69, 0.24555759803921573) 77%,
        rgba(14, 0, 255, 0.22314863445378152) 100%
      );
      z-index: 10;
      animation: colorWheel 2s linear infinite;
    }
  }
}

@keyframes colorWheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes startAnimation {
  0% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.03);
  }
}

.mainDiv {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 260px;
  .mainPlayContainer {
    height: 100vh;
    background-image: url("./src/Assets/table-background.jpeg");
    background-size: cover;
    padding: 1rem;
    position: relative;
    box-shadow: inset 0px 0px 20px 4px rgb(17, 32, 15);
    display: grid;
    grid-template-rows: 1.2fr 2fr 2fr;
  }
  .in-game-btn {
    border: 1px solid black;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    transition: 0.25s;
    &-pair {
      position: absolute;
      right: 140px;
      bottom: 40px;
    }
    &-exchange {
      position: absolute;
      right: 60px;
      bottom: 40px;
    }
    &-img {
      width: 65px;
      height: 55px;
    }
  }
  .in-game-btn-pair-enabled {
    border: 2px solid gold;
    box-shadow: 0 0 15px 3px rgb(253, 248, 219);
    background-color: rgba(255, 217, 0, 0.527);
    &:hover {
      transform: scale(1.1);
    }
  }

  .in-game-btn-exchange-enabled {
    border: 2px solid rgb(185, 250, 253);
    box-shadow: 0 0 15px 3px rgb(251, 255, 255);
    background-color: rgba(170, 251, 255, 0.436);
    &:hover {
      transform: scale(1.1);
    }
  }
  .panel {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    .scoreboardHeader {
      position: absolute;
      top: 17px;
      width: 260px;
      display: flex;
      justify-content: space-around;
      z-index: 100;
      backdrop-filter: blur(1.6px);
      border-radius: 35px;
      .underline {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: underline;
        margin-top: 5px;
        margin-bottom: 9px;
        display: inline;
        position: relative;
      }
    }
    .scoreboardContainer {
      background-image: url("./src/Assets/score-background.jpeg");
      display: grid;
      text-align: center;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 15px;
      padding-top: 50px;
      border-top: 15px solid rgb(0, 0, 0);
      box-shadow: inset 0 0 20px 5px rgb(23, 31, 22);
      color: rgb(26, 26, 26);
      overflow-y: auto;

      .addedPoints {
        font-size: 1.3rem;
      }
      .newGameSeparator {
        font-weight: 600;
      }
      .bL {
        width: 260;
      }
    }
    .configsContainer {
      background-image: url("./src/Assets/wood-texture.jpg");
      height: 100%;
      background-size: cover;
      border-top: 15px solid rgb(0, 0, 0);
      box-shadow: inset 0 0 20px 5px rgb(23, 31, 22);
      padding: 10px;
      color: rgb(26, 26, 26);
      display: grid;
      place-items: center;
      button {
        color: black;
        width: clamp(160px, 200px, 500px);
        height: 5vh;
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: 400;
        border: 1px solid black;
        margin: 5px;
        transition: 0.25s;
        box-shadow: -0 0px 7px black;

        &:not(:disabled):hover {
          width: 190px;
          transform: scale(1.15);
          cursor: pointer;
        }
        &:nth-child(1) {
          background: rgb(142, 227, 136);
          background: linear-gradient(
            151deg,
            rgba(142, 227, 136, 1) 0%,
            rgba(212, 255, 192, 1) 54%,
            rgba(101, 199, 89, 1) 100%
          );
          &:disabled {
            background: lightgray;
            color: gray;
            &:hover {
              cursor: auto;
            }
          }
        }
        &:nth-child(2) {
          background: rgb(227, 223, 136);
          background: linear-gradient(
            151deg,
            rgba(227, 223, 136, 1) 0%,
            rgba(255, 248, 200, 1) 70%,
            rgba(223, 208, 102, 1) 100%
          );
        }
        &:nth-child(3) {
          background: rgb(136, 169, 227);
          background: linear-gradient(
            151deg,
            rgba(136, 169, 227, 1) 0%,
            rgba(192, 196, 255, 1) 54%,
            rgba(89, 150, 199, 1) 100%
          );
          &:disabled {
            background: lightgray;
            color: gray;
            &:hover {
              cursor: auto;
            }
          }
        }
        &:nth-child(4) {
          background: rgb(227, 136, 136);
          background: linear-gradient(
            151deg,
            rgba(227, 136, 136, 1) 0%,
            rgba(255, 192, 192, 1) 54%,
            rgba(199, 89, 89, 1) 100%
          );
        }
      }
    }
  }
}

.xwonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.frAnm {
  position: absolute;
  margin: auto;
  place-items: center;
  font-size: 5rem;
  color: white;
}
